target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
**/pom.xml.versionsBackup
**/rebel.xml
**/target/
*.swp
*/**/dependency-reduced-pom.xml
.sass-cache
node_modules/
bower_components/
**/*.iml
**/.factorypath
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.idea
log
**/.project
**/.classpath
**/.settings
/.settings/
/.project
logs
nb-configuration.xml
/*_rendered.pdf
/pib.sh
/cleanInstallSkipTests.sh
/cb2c-bl-ws-webapp/config/bl.properties
**/deps
.DS_Store

